.cart {
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0 15px;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
}

.cart-items-item {
    margin: 10px 0px;
    color: black;
}

.cart-items-item img {
    width: 80px;
}

.cart-items-item hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cart-items-item .cross {
    cursor: pointer;
}

.cart-bottom {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
    flex-direction: column;
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total hr {
    margin: 10px 0px;
}

.cart-total button {
    border: none;
    color: white;
    background-color: #ff914d;
    width: 100%;
    max-width: 300px;
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
}

/* Mobile Responsive Styles */
@media (max-width: 750px) {
    .cart {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .cart-items-title {
        display: none;
        flex-direction: column;
        font-size: 12px;
    }
    
    .cart-items-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        padding: 15px 0;
    }
    
    .cart-items-item img {
        width: 60px;
        margin-bottom: 10px;
    }
    
    .cart-bottom {
        margin-top: 30px;
        gap: 30px;
    }
    
    .cart-total button {
        width: 100%;
        padding: 15px 0;
    }
    
    .cart-items-item > div {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
    }
    
    
    .cross {
        position: absolute;
        top: 15px;
        right: 0;
    }
}

@media (max-width: 480px) {
    .cart {
        margin-top: 30px;
    }
    
    .cart-total button {
        padding: 12px 0;
    }
}